@use 'sass:map';
.circle-border1 {
  border: 1px solid $purple-2;
  width: 50vw;
  height: 100vh;
  border-radius: 100%;
  margin-top: -60px;
}
.circle-border2 {
  border: 1px solid $purple-2;
  width: 50vw;
  height: 90vh;
  border-radius: 100%;
  margin-top: 160px;
}
.left-contianer {
  height: 100%;
  width: 45%;
}
@media only screen and (max-width: 432px) {
  .carousel-container {
    display: none;
  }
  .left-contianer {
    width: 100%;
    margin-right: 0px;
    .q-tab-panels {
      width: 100%;
      .q-tab-panel {
        width: 100%;
        padding: 0px;
        .fd {
          width: 100%;
          padding: 0px;
        }
        .q-form {
          padding: 0px;
        }
      }
    }
  }
}
