.container {
  .first-layer {
    padding: 0px 150px;
    height: 80vh;
    width: 100%;
    background-image: url("../../../image/about-us-image.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    .text-div {
      width: 40%;

      p {
        font-size: 15px;
      }
    }
  }
  .second-layer {
    padding: 0px 150px;
    height: 80vh;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;
    div {
      width: 60%;
      p {
        // font-size: 15px;
      }
    }
    .shape-design {
      background-color: #e3eafe;
      z-index: -1;
      height: 80vh;
      width: 100%;
    }
  }
  .third-layer {
    height: 80vh;
    background-color: #e3eafe;
    padding: 0px 100px;
    background-image: url("../../../image/advocacy.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    // margin-top: 50px;
    // background-clip: content-box;

    p {
      font-size: 15px;
    }

    .right-div {
      z-index: 2;
      width: 50%;
      background-color: #7f9aea;
      border-radius: 10px;
      color: white;
    }
  }
  .fourth-layer {
    padding: 0px 150px;
    margin-top: 100px;
    min-height: 80vh;
    p {
      font-size: 15px;
    }
    .our-team {
      p {
        width: 50%;
      }
    }
    .team-container {
      .person-info {
        font-size: 14px;
        img {
          height: 150px;
          width: 150px;
          object-position: center;
          object-fit: cover;
          border-radius: 100%;
        }
      }
    }
  }
  .last-layer {
    margin-top: 100px;
    background-color: #e3eafe;
    border-radius: 10px;
    height: 80vh;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 0px 150px;
    margin-bottom: -100px;
    z-index: -2;
  }
}
.footer {
}
