.button {
  width: 10px;
  float: right;
}
.about-cat-care {
  font-weight: 400;
}
.button-text {
  font-size: 15px;
}
.container {
  padding: 0px 100px;
  .title-container {
    border-radius: 10px;
    h6 {
      font-size: 24px;
    }
    h3 {
    }
    .q-separator {
      width: 80%;
    }
  }
  .details {
    padding-top: 100px;
    .details-container {
      width: 500px;
      max-width: 500px;

      .q-icon {
        margin-bottom: 50px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
.footer {
  margin-top: 100px;
}
@media only screen and (max-width: 432px) {
  .container {
    width: 100%;
    padding: 0px 15px;
    .title-container {
      margin-top: 20px;
      width: 100%;
    }
  }
}
