.box {
  width: 450px;
  height: 500px;
  border: 2px white black;
  border-radius: 10px;
  background: rgba(255, 255, 255, 255);
  .details {
    color: rgba(102, 112, 133, 1);
    font-size: 13px;
  }
}
.img {
  height: 290px;
  object-fit: cover;
  object-position: center;
}
.display-image {
  border-radius: 100%;
  object-fit: cover;
  height: 200px;
  width: 200px;
}
.cancel {
  color: #b157ae;
  background: white;
  border: 1px solid #b157ae;
  width: 200px;
}
.save-details {
  color: white;
  background: #b157ae;
  width: 200px;
}
.add-new-item {
  background: #b157ae;
  color: white;
  width: 200px;
}
.mobile-reposive-nav {
  display: none;
}
.add-container {
  .inside {
    max-width: 80vw;
    width: 100vw;
  }
}
.image-container {
  position: relative;
  .q-icon {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media only screen and (max-width: 1494px) {
  .box {
    width: 430px;
  }
  .img {
    width: 96.4%;
  }
}
@media only screen and (max-width: 1434px) {
  .box {
    width: 400px;
    height: 500px;
  }
  .img {
    height: 290px;
    width: 96.4%;
  }
  .all-box-container {
    margin: 0px 12px 0px 12px;
  }
}
@media only screen and (max-width: 1272px) {
  .box {
    width: 350px;
    height: 470px;
  }
  .img {
    height: 250px;
  }

  .title {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1122px) {
  .box {
    width: 300px;
    height: 460px;
  }
  .img {
    height: 200px;
  }
  .all-box-container {
    margin: 0px 12px 0px 12px;
  }
}
@media only screen and (max-width: 1032px) {
  .box {
    width: 290px;
    height: 460px;
  }

  .title {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 933px) {
  .box {
    width: 250px;
    height: 430px;
    .details {
      font-size: 12px;
    }
  }
  .img {
    height: 200px;
  }

  .activities-title {
    margin-top: -10px;
  }

  .title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 823px) {
  .box {
    width: 250px;
    height: 340px;
  }
  .img {
    height: 150px;
    width: 94%;
  }
  .all-box-container {
    margin: 0px 12px 0px 12px;
  }
  .title {
    margin-bottom: 20px;
  }
  .activities-title {
    margin-top: 0px;
    font-size: 17px;
  }

  .activities-header {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .all-box-container {
    margin: 0;
  }
}

@media only screen and (max-width: 532px) {
  .box {
    width: 200px;
    height: auto;
  }
  .img {
    width: auto;
  }

  .activities-title {
    margin-top: 0px;
    font-size: 17px;
  }
  .add-new-item {
    width: 150px;
  }
}
@media only screen and (max-width: 501px) {
  .add-new-item {
    display: none;
  }
  .title {
    display: none;
  }
  .mobile-reposive-nav {
    display: block;

    font-size: 18px;
    position: relative;
    margin: 10px 20px;
    .q-icon {
      font-size: 1.5rem;
      color: #b157ae;
    }
  }
  .add-container {
    .inside {
      max-width: 100vw;
      width: 100vw;
    }
  }
  .image-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    width: 100vw;
    max-width: 91vw;
    height: 200px;
    background: lightgray;
    justify-content: flex-start;
    .q-icon {
      position: sticky;
      top: 0;
      right: 0;
    }
  }
  .display-image {
    border-radius: 0%;
    height: auto;
    width: 200px;
    padding: 5px;
    margin: 3px;
    // background: pink;
  }
  .add-image-container {
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 432px) {
  .box {
    width: 180px;
    border-bottom: 1px dashed #b157ae;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .img {
    height: 140px;
    margin-top: 0;
  }

  .title {
    font-size: 25px;
  }
  .activities-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 415px) {
  .all-box-container {
    flex-direction: column;
  }
  .box {
    height: auto;
    width: 100vw;
    margin: 10px 0px;
    .img {
      height: auto;
      width: auto;
      margin-top: 0;
    }
    .activities-title {
      font-size: 18px;
      font-weight: 500;
    }
  }
  .add-new-item {
    width: 150px;
    margin-right: 10px;
    font-size: 12px;
  }
}
