h4 {
  font-weight: 600;
}
.q-img-container {
  .q-img {
    border: 1px solid rgba(177, 87, 174, 0.88);
    margin: 5px;
    height: 420px;
    width: 300px;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 933px) {
  .q-img-container {
    flex-wrap: wrap;
    .q-img {
      height: 320px;
      width: 280px;
    }
  }
}

@media only screen and (max-width: 647px) {
  .q-img-container {
    flex-wrap: wrap;
    .q-img {
      width: 200px;
    }
  }
  h4 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 420px) {
  .q-img-container {
    flex-wrap: wrap;
    .q-img {
      height: 300px;
      width: 180px;
      div {
        font-size: 12px;
        height: 70px;
      }
    }
  }
  h4 {
    font-size: 25px;
    margin: 10px 0px;
  }
}
@media only screen and (max-width: 384px) {
  .q-img-container {
    flex-wrap: wrap;
    .q-img {
      height: 280px;
      width: 150px;
    }
  }
  h4 {
    margin: 10px 0px;
    margin-left: 40px;
  }
}
