.animal_image {
  height: 400px;
  width: auto;
  display: inline-block;
}
.edit-icon-container {
  .q-btn {
    color: white;
    background: #b157ae;
    border-radius: 5px;
    width: 100px;
  }
}
.add-icon-container {
  width: 100%;
  max-width: 1070px;
  .add {
    color: white;
    background: #b157ae;
    border-radius: 5px;
    width: auto;
  }
}
.add-update-container {
  .q-btn {
    font-size: 13px;
  }
}
.edit-button-container {
  .cancel {
    border: 1px solid #b157ae;
    color: #b157ae;
    width: 200px;
  }
  .save {
    color: white;
    width: 200px;
    background: #b157ae;
  }
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 200px;
  position: relative;
  .v-for-image {
    position: relative;

    img {
      height: 180px;
      width: 180px;
      object-fit: cover;
      border-radius: 100%;
    }
    .close-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 100%;
      color: white;
      background: #b157ae;
    }
  }
}
.title-container {
  position: relative;
  .add-button {
    position: absolute;
    top: 10px;
    right: 0px;
    color: white;
    width: 150px;
    background: #b157ae;
  }
}
.splitter {
  /* white-space: pre; */
  white-space: pre-line;
}
.announcements-container {
  width: 100%;
  max-width: 1070px;
  border: 2px white black;
  border-radius: 10px;
  background: rgba(255, 255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.announcement-details {
  white-space: pre-line;
  word-wrap: break-word;
}
.announcement-title {
  margin-top: -40px;
}
.image-container {
  overflow-x: hidden;
  height: auto;
  overflow-x: scroll;
  width: 98%;
}
.showLessMoreButton {
  color: #b157ae;
  font-size: 13px;
}
.close-dialog {
  font-size: 2rem;
}
.add-image-container {
  overflow: hidden;
  width: 100%;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  background: #e4e6eb;
  padding: 3px;
  height: auto;
  border-radius: 5px;
}
.add-image-container > div {
  max-width: 200px;
  height: 95px;
  flex: 1 0 calc(33.33% - 20px); /* Subtract twice the gap size */
  background: rgba(255, 255, 255, 0.8);
  margin: 1px; /* Half of the gap size */
  .animal_image {
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: cover;
  }
}

@media only screen and (max-width: 933px) {
  .announcement-title {
    font-size: 25px;
    margin: 0;
  }
  .announcement-title-container {
    margin-top: 0;
    padding: 0;
  }
  .big-announcement-title-container {
    margin-top: -15px;
  }
  .date-and-time-container {
    margin: 0;
    padding: 0;
  }
  .date-and-time-container p {
    margin: 0;
    padding: 0;
  }
  .date-and-time-container p:first-child {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 701px) {
  .announcement-title {
    font-size: 25px;
  }
  .announcement-details {
    font-size: 15px;
  }
  .image-container {
    margin: auto;
    margin-top: 10px;
  }
  .animal_image {
    margin: 5px;
  }
  .announcements-container {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 530px) {
  .announcement-details {
    font-size: 14px;
  }

  .announcements-container {
    margin-bottom: 13px;
    padding: 10px;
    margin-top: 0;
  }
  .big-announcement-title-container {
    margin-top: 10px;
  }
  .add-icon-container {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 430px) {
  .announcement-title {
    margin-top: -5px;
    font-size: 18px;
    margin-left: -10px;
  }
  .date-and-time-container p {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  .announcement-details {
    font-size: 12px;
  }
  .announcements-container {
    margin-bottom: 12px;
  }
  .showLessMoreButton {
    font-size: 12px;
  }
  .image-container {
    overflow: hidden;
    width: 98%;
    display: grid;
    display: flex;
    flex-wrap: wrap;
    background: #e4e6eb;
    padding: 3px;
    height: auto;
  }
  .image-container > div {
    max-width: 200px;
    height: 130px;
    flex: 1 0 calc(33.33% - 20px); /* Subtract twice the gap size */
    background: rgba(255, 255, 255, 0.8);
    margin: 1px; /* Half of the gap size */
    .animal_image {
      height: 100%;
      width: 100%;
      margin: auto;
      object-fit: cover;
    }
  }
  .image-container:nth-child(4),
  .image-container:nth-child(5) {
    flex-grow: 2;
  }

  .showLessMoreButton {
    font-size: 11px;
  }
  .add-icon-container {
    margin-bottom: 5px;
    .add {
      font-size: 12px;
    }
  }
  .edit-icon-container {
    margin-top: 5px;
    .q-btn {
      font-size: 12px;
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
@media only screen and (max-width: 385px) {
  .announcement-title-container {
    margin: 0;
    padding: 0;
  }
  .date-and-time-container {
    margin: 0;
    padding: 0;
  }
  .date-and-time-container p {
    font-size: 11px;
  }
  .announcements-container {
    margin-bottom: 8px;
  }
  .add-update-container {
    .q-btn {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 385px) {
  .close-dialog {
    font-size: 1.5rem;
  }
}
