.container {
  width: 1200px;
}
.donation-container {
  p {
    font-size: 14px;
  }
  margin-bottom: 70px;
}
.background-image {
  height: 600px;
  z-index: -1;
  background: url('../../../image/seventh-layer-image.png');
}
.best-value-container {
  margin-top: 100px;
  margin: 0px 20px;
  .best-value {
    width: 200px;
    border: 1px solid black;
    z-index: 2;
    top: -1px;
  }
  .price {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 360px;
  }
  .benefit {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: white;
    p {
      margin: 5px 0px;
    }
    .choose-option {
      font-size: 10px;
    }
  }
}
.other-amount {
  font-size: 14px;
  width: 200px;
}
.overlooping-avatar {
  img {
    object-fit: cover;
    object-position: center;
  }
}

.donor-summary-section {
  width: 1160px;
  .my-card {
    margin: 0px 10px;
    border-radius: 10px;
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f5;
  }
}
.walkin-donation {
  min-height: 80vh;
  border-radius: 10px;
  .box {
    min-height: 500px;
    background-color: #f6f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    border-radius: 10px;
    width: 360px;
    max-width: 420px;
  }
}
.thanks-donor-section {
  width: 100%;
}
.q-carousel-slide {
  width: 1160px;
}
.donors-container {
  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    border: 1px solid goldenrod;
  }
}
@media only screen and (max-width: 432px) {
  .container {
    width: 90%;
    .donation-container {
      h3 {
        font-size: 30px;
        text-align: center;
      }
      p {
        font-size: 14px;
      }
      margin-bottom: 70px;
    }
    .bv-container {
      flex-direction: column;
      .best-value-container {
        margin-top: 10px;
      }
    }
    .donor-summary-section {
      flex-direction: column;
      width: 100%;
    }
  }
}
