.q-input {
  border: 2px solid #b157ae;
  border-radius: 5px;
}
.q-select {
  border: 2px solid #b157ae;
  border-radius: 5px;
}
.profile-small {
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  height: 150px;
  width: 150px;
}
.filebtn {
  position: absolute;
  border-radius: 100%;
  margin-left: 130px;
  margin-bottom: 120px;
}
.birthdate {
  height: 43px;
  width: 200px;
  margin-right: 15px;
}
.phone-number {
  width: 100%;
}
.suffix {
  width: 85px;
}
.upload-image {
  border: 2px solid #b157ae;
  border-radius: 5px;
}
.q-select {
  .q-field__inner {
    .q-field__control {
      .q-field__control-container {
        .q-field__native {
          span {
            font-size: 13px;
          }
        }
      }
    }
  }
}

.oc-container {
  width: 100%;
}
.cancel-button {
  background: white;
  float: left;
  color: #b157ae;
  border: 2px solid #b157ae;
}
.update-button {
  background: #b157ae;
  float: left;
  border: 2px solid #b157ae;
}

.arrow-back {
  display: none;
}
@media only screen and (max-width: 933px) {
  .profile-small {
    height: 110px;
    width: 110px;
  }
  .filebtn {
    margin-bottom: 80px;
    margin-left: 100px;
  }
}
@media only screen and (max-width: 701px) {
  .title {
    font-size: 30px;
  }
  .filebtn {
    margin-left: 100px;
  }
  .birthdate {
    width: 140px;
  }
  .arrow-back {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .small-image-container {
    .image-container {
      justify-content: center;
      align-items: center;
    }
  }
}
@media only screen and (max-width: 600px) {
  .mssb-container {
    flex-direction: column;
  }
  .ssb-container div div {
    width: 100%;
  }
  .ssb-container {
    padding: 0px 15px 0px 15px;
  }
  .suffix-container .q-select {
    width: 100%;
  }
  .sex-container div {
    width: 100%;
  }
  .sex-container div .q-select {
    width: 80%;
  }
  .birthdate-container {
    width: 100%;
    margin-right: 0;
  }
  .birthdate {
    width: 100%;
  }
  .barangay-margin {
    margin-top: 20px;
  }
  .ssb-container {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 509px) {
  .ocp-container {
    flex-wrap: wrap;
  }
  .oc-container {
    margin: 0px 15px 0px 15px;
  }
  .oc-container > :nth-child(1) div {
    margin-left: 0;
  }
}
@media only screen and (max-width: 470px) {
  .ssb-container {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .sex-container div .q-select {
    width: 89%;
  }

  .oc-container di {
    width: 80%;
  }
  .occupation {
    width: 80%;
  }
  .civil-status {
    width: 80%;
  }
  .birthdate-container {
    margin-top: 10px;
  }
  .phone-number-container {
    margin-top: 10px;
  }
  .button {
    padding: none;
  }
  .update-button {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .cancel-button {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 445px) {
  .barangay-margin {
    margin-top: 40px;
  }
  .image-container {
    margin-bottom: 10px;
  }
  .title {
    font-size: 20px;
    font-weight: 500;
  }
  .q-input {
    border: 1px solid #b157ae;
    font-size: 12px;
  }
  .q-select {
    font-size: 12px;
    border: 1px solid #b157ae;
  }
  .all-margin-controler {
    margin: 0px 20px 0px 20px;
    h6 {
      font-size: 17px;
      b {
        font-weight: normal;
      }
    }
    div {
      div {
        .details-title {
          font-size: 17px;
          font-weight: normal;
        }

        p {
          font-size: 13px;
          font-weight: normal;
          b {
            font-weight: normal;
          }
        }
      }
      h6 {
        font-weight: normal;
        font-size: 17px;
      }
      div {
        .barangay-margin {
          margin-top: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 388px) {
  .all-margin-controler {
    margin: 0px;
    div {
      .upload-image {
        border: 1px solid #b157ae;
      }
      div {
        .barangay-margin {
          margin-top: 20px;
        }
        .update-button {
          margin: 0;
          font-size: 13px;
        }
        .cancel-button {
          font-size: 13px;
          margin-right: 30px;
          border: 1px solid #b157ae;
        }
      }
    }
  }
}
@media only screen and (max-width: 366px) {
  .all-margin-controler {
    div {
      div {
        .barangay-margin {
          margin-top: 18px;
        }
      }
    }
  }
}
