.login_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login_button {
  background: #b157ae;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.outer_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ecedef;
  width: 500px;
  height: auto;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  h4 {
    font-size: 30px;
  }
  .new-password-label {
    font-size: 35px;
  }
}
.second_outer_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  width: 500px;
  height: auto;
  border-radius: 10px;
  background: white;
}
.the-container {
  width: 100%;
  height: 81vh;
}
.q-btn-container {
  .q-btn {
    width: 150px;
  }
}
.login {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  text-align: center;
}
.email {
  border-radius: 10px;
  border: 2px solid #b157ae;
  font-size: 17px;
}
.password {
  border-radius: 10px;
  border: 2px solid #b157ae;
  font-size: 17px;
}
.ff {
  font-family: Roboto;
}
@media only screen and (max-width: 701px) {
  .login {
    font-size: 40px;
  }
  .the-container {
    height: 85vh;
  }
}
@media only screen and (max-width: 530px) {
  .outer_box {
    border: 0px solid white;
    box-shadow: none;
    h4 {
      font-size: 30px;
      margin: 0px 10px;
    }
    h6 {
      color: rgba(102, 112, 133, 1);
    }
    .new-password-label {
      font-size: 30px;
    }
  }
  .second_outer_box {
    border: 0px solid white;
    box-shadow: none;
    h4 {
      font-size: 35px;
    }
    h6 {
      color: rgba(102, 112, 133, 1);
    }
  }
  .the-container {
    height: 86vh;
  }
}
