.btn-bottom {
  width: 120px;
  color: #b157ae;
  border: 1px solid #b157ae;
}
.container {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
}
.dashboard-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #3d3d3d;
}
.q-avatar {
  margin: 20px 14px 0 16px;
  height: 70px;
  width: 70px;
  .official_image {
    object-fit: cover;
  }
  .image {
    object-fit: cover;
  }
}
.card {
  height: 150px;
  width: 100%;
  max-width: 360px;
  cursor: pointer;
  border: 3px solid #b157ae;
  .official-name {
    font-size: 18px;
    font-weight: 500;
    // color: gray;
  }
}
.edit-profile-image {
  border-radius: 100%;
  object-fit: cover;
  height: 120px;
  width: 120px;
}
.position {
  border-radius: 10px;
}
.personal-information {
  .q-input {
    width: 100%;
  }
  .q-select {
    width: 100%;
  }
}
.header {
  display: none;
  .q-icon {
    color: #b157ae;
    font-size: 2rem;
  }
  .q-select {
    font-size: 16px;
    font-weight: bold;
  }
}
.q-dialog {
  .q-dialog-inside {
    width: 700px;
    max-width: 50vw;
    .image-container {
      background: linear-gradient(
          rgba(255, 255, 255, 0.9),
          rgba(255, 255, 255, 0.9)
        ),
        url("../../../image/TAARA_Logo.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
// .add-member-container {
//   width: 700px;
//   max-width: 50vw;
//   .image-container {
//     background: linear-gradient(
//         rgba(255, 255, 255, 0.9),
//         rgba(255, 255, 255, 0.9)
//       ),
//       url("../../../image/TAARA_Logo.jpg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }
// }
.volunteer-container {
  padding-top: 50px;
}
@media only screen and (max-width: 967px) {
  .q-dialog {
    .q-dialog-inside {
      max-width: 100vw;
    }
  }
}
@media only screen and (max-width: 567px) {
  .q-dialog {
    .q-dialog-inside {
      overflow-x: hidden;
      .image-container {
        div {
          display: flex;
          flex-wrap: column;
          flex-wrap: wrap;
          text-align: center;
          justify-content: center;
          .q-input {
            width: 100%;
          }
          .q-select {
            width: 100%;
          }
        }
        div:nth-child(2) {
          display: flex;
          flex-wrap: column;
          flex-wrap: wrap;
          flex-flow: column-reverse;
          margin-top: 10px;
          div {
            width: 100%;
            div:nth-child(1) {
              width: 100%;
              flex-direction: column;
              text-align: center;
            }
            div:nth-child(2) {
              flex-direction: column;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 501px) {
  .dashboard-title {
    font-size: 20px;
  }
  .header {
    display: flex;
    margin-top: 0px;
    .q-icon:nth-child(1) {
      margin-left: -10px;
    }
    .q-icon:nth-child(3) {
      margin-right: -10px;
    }
  }
  .dashboard-title {
    display: none;
  }
  .management-container {
    padding-top: 0px;
  }
  .volunteer-container {
    padding-top: 0px;
  }
  .q-card-container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin: 5px 0px;
    width: 100%;
    max-width: 100%;
    padding: 0px;

    div {
      .detials-section {
        width: 100%;
        max-width: 100%;
        .official-name {
          font-size: 15px;
        }
        div {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
  .btn-bottom {
    width: 80px;
  }

  .q-dialog {
    .q-dialog-inside {
      min-width: 100vw;
      min-height: 92.5vh;
      margin-top: 4.4vh;
      overflow-x: hidden;
      .image-container {
        div {
          display: flex;
          flex-wrap: column;
          flex-wrap: wrap;
          text-align: center;
          justify-content: center;
          .q-input {
            width: 100%;
          }
          .q-select {
            width: 100%;
          }
        }
        div:nth-child(2) {
          display: flex;
          flex-wrap: column;
          flex-wrap: wrap;
          flex-flow: column-reverse;
          margin-top: 10px;
          div {
            width: 100%;
            div:nth-child(1) {
              width: 100%;
              flex-direction: column;
              text-align: center;
            }
            div:nth-child(2) {
              flex-direction: column;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 402px) {
  .q-dialog {
    .q-dialog-inside {
      padding: 0px 20px;
      .image-container {
        div {
          .q-input {
            font-size: 12px;
          }
          .q-select {
            font-size: 12px;
          }
          .official-label {
            font-size: 25px;
          }
          .label-title {
            font-size: 15px;
          }
        }
      }
    }
  }

  .dashboard-title {
    font-size: 18px;
  }
  .header {
    .q-icon {
      font-size: 1.5rem;
    }
    .q-select {
      font-size: 16px;
    }
  }
  .btn-bottom {
    font-size: 12px;
  }
  .btn-container {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 376px) {
  .card {
    height: 130px;
    div {
      .detials-section {
        padding-right: 10px;
        padding-bottom: 20px;
        .official-name {
          font-size: 14px;
        }
        div {
          font-size: 12px;
          margin: 0px;
        }
      }
    }
  }
  .q-avatar {
    height: 60px;
    width: 60px;
  }
}
