.animals-navi {
  border-radius: 10px;
  background: white;
  .first-child {
    div {
      border: 1px solid rgb(230, 233, 233);
      padding: 10px 60px 10px 20px;
      width: 100%;
      max-width: auto;
      h6 {
        margin: 0px;
      }
      p {
        margin: 0px;
        color: grey;
      }
    }
    div:nth-child(5) {
      border: 1px solid rgb(230, 233, 233);
      border-top: 1px solid white;
      border-right: 1px solid white;
      width: 100%;
      max-width: auto;
    }
  }
  .second-child {
    border: 1px solid rgb(230, 233, 233);
    border-top: 1px solid white;
    .second-first-child {
      .name-search {
        width: 400px;
        max-width: 400px;
      }
    }
    .second-second-child {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;

      .q-table {
        height: 74vh;
        text-transform: capitalize;
        .q-img {
          border-radius: 100%;
          height: 40px;
          width: 40px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .view-details-container {
      min-height: 74vh;
      .tab {
        width: 100%;
      }
      .first-tab {
        border-radius: 10px;
        border: 1px solid rgb(230, 233, 233);

        .img-container {
          border-right: 1px solid rgb(230, 233, 233);
          width: 400px;
          .user-img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            object-position: center;
            border-radius: 100%;
            padding: 2px;
            background: linear-gradient(to bottom, teal, transparent);
          }
          .connected-media {
            img {
              height: 25px;
              width: 25px;
              object-fit: cover;
              object-position: center;
              border-radius: 100%;
            }
          }
        }
        .details-container {
          width: 100%;
          .each-details {
            min-width: 100px;
            p {
              margin-left: 27px;
            }
            .q-input {
              margin-left: 27px;
              width: 300px;
              max-width: auto;
            }
            .privilege-section {
              p {
                width: 300px;
                max-width: 200px;
              }
            }
          }
          .show-more-container {
            div {
              .q-btn {
                width: 200px;
                max-width: 200px;
              }
            }
          }
          .q-icon-cantainer {
            .q-btn {
              width: 200px;
              max-width: 100px;
              font-size: 13px;
            }
            .cancel {
              border: 1px solid #b157ae;
            }
          }
        }
      }
      .recent-activity {
        .acitivity-table {
          max-height: 66vh;
        }
      }
    }
    .add-details-container {
      min-height: 74vh;
      .tab {
        width: 100%;
      }
      .first-tab {
        border-radius: 10px;
        border: 1px solid rgb(230, 233, 233);

        .img-container {
          border-right: 1px solid rgb(230, 233, 233);
          width: 400px;
          .user-img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            object-position: center;
            border-radius: 100%;
            padding: 2px;
            background: linear-gradient(to bottom, teal, transparent);
          }
          .connected-media {
            img {
              height: 25px;
              width: 25px;
              object-fit: cover;
              object-position: center;
              border-radius: 100%;
            }
          }
        }
        .details-container {
          width: 100%;
          .each-details {
            min-width: 100px;
            // background: pink;
            .q-input {
              margin-left: 27px;
              width: 200px;
              max-width: auto;
            }
            .q-select {
              margin-left: 27px;
              width: 200px;
              max-width: auto;
            }
            .email-address {
              width: 320px;
              max-width: auto;
            }
            .password {
              width: 300px;
              max-width: auto;
            }
            .privilege-section {
              p {
                width: 300px;
                max-width: 200px;
              }
            }
          }
          .show-more-container {
            div {
              .q-btn {
                width: 200px;
                max-width: 200px;
              }
            }
          }
          .q-icon-cantainer {
            .q-btn {
              width: 200px;
              max-width: 100px;
              font-size: 13px;
            }
            .cancel {
              border: 1px solid #b157ae;
            }
          }
        }
      }
      .recent-activity {
        .acitivity-table {
          max-height: 66vh;
        }
      }
    }
  }
  .q-icon-crud {
    background: #f9f9f9;
    border-radius: 5px;
    padding: 5px;
  }
}
.slideDown {
  animation: slideDown 0.5s forwards;
}

.slideUp {
  animation: slideUp 0.5s forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.container-alert-icon {
  background: rgb(255, 225, 225);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  padding: 7px;
  div {
    border-radius: 100%;
    background: rgb(253, 191, 191);
    .delete-icon {
      margin: 6px;
      border-radius: 100%;
    }
  }
}
.delete-warning {
  font-weight: 400;
}
.q-card-action {
  justify-content: center;
  align-items: center;

  .delete-cancel {
    border: 1px solid gray;
    background: white;
    color: #3d3d3d;
    padding: 0px 50px;
    font-size: 13px;
  }
  .delete {
    background: #b157ae;
    color: white;
    padding: 0px 50px;
    font-size: 13px;
  }
}
