.pending-label {
  font-size: 30px;
}
.q-select {
  border: 1px solid #b157ae;
  width: 100%;
  max-width: 450px;
  border-radius: 5px;
  font-size: 20px;
}
.name-header {
  border: 1px solid #b157ae;
  width: 100%;
  max-width: 900px;
  height: 42px;
  border-radius: 5px;
  .q-icon {
    display: none;
    color: #b157ae;
  }
}
.pending-application-container {
  border: 1px solid #b157ae;
  width: 100%;
  max-width: 450px;
  // height: 500px;
  height: 72vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  h5 {
    margin-top: 10px;
  }
}
.q-scroll-area {
  width: 100%;
  max-width: 450px;
  // height: 430px;
  height: 63vh;
  .time-ago {
    color: rgba(100, 96, 96, 0.873);
    font-size: 12px;
  }
}
.q-scroll-area-right {
  width: 100%;
  max-width: auto;
  // height: 470px;
  height: 69vh;
}
.pending-application-details-container {
  border: 1px solid #b157ae;
  max-width: 900px;
  width: 100%;
  // min-height: 500px;
  height: 72vh;
  border-radius: 5px;
}
.image {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
}
.icons-container {
  .q-icon {
    margin-right: 7px;
    border-radius: 5px;
    font-size: 1.5rem;
  }
  .eyes {
    color: white;
    background: #b157ae;
  }

  .check {
    color: white;
    background: rgba(34, 197, 94, 1);
  }
  .wrong {
    color: white;
    background: rgba(255, 0, 0, 1);
  }
}
.edit_note {
  color: #b157ae;
}
.form-logo {
  height: 70px;
  width: 70px;
  object-fit: cover;
}
.form-details-container {
  div {
    div {
      margin-right: 20px;
      p {
        width: 300px;
      }
    }
    .q-input {
      width: 400px;
    }
    .autogrow {
      width: 400px;
      height: auto;
    }
  }
}
.report-form-details-container {
  div {
    p {
      width: 300px;
    }
    .q-input {
      width: 400px;
    }
    .location {
      width: 600px;
    }
    .autogrow {
      width: 100%;
      height: auto;
    }
  }
}
.button-container {
  .decline {
    color: rgba(255, 0, 0, 1);
    border: 1px solid rgba(255, 0, 0, 1);
    background: white;
    width: 200px;
  }
  .approved {
    color: rgba(34, 197, 94, 1);
    border: 1px solid rgba(34, 197, 94, 1);
    background: white;
    width: 200px;
  }
  .next {
    color: white;
    background: #b157ae;
    width: 200px;
  }
  .back-control {
    display: none;
  }
}
.report-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  border: 1px dashed pink;
  width: 100%;
  max-width: 600px;
  img {
    height: 100%;
    max-height: 300px;
    width: auto;
  }
}
.volunteer-form-details-container {
  div {
    margin-top: 10px;
    .label {
      width: 300px;
      margin-right: 30px;
    }
    .autogrow {
      width: 80%;
    }

    .name-relation-container {
      div {
        width: 45%;
      }
    }
  }
}
.inkind-image-container {
  border: 1px dashed pink;
  width: 100%;
  max-width: 600px;
  img {
    height: 100%;
    max-height: 300px;
    width: auto;
    overflow-x: scroll;
  }
}
.q-card-action {
  .cancel {
    color: black;
    border-radius: 10px;
    width: 200px;
    max-width: 180px;
    border: 1px solid rgba(208, 213, 221, 1);
    font-size: 13px;
  }
  .decline {
    width: 200px;
    max-width: 180px;
    border-radius: 10px;
    background: #b157ae;
    color: white;
    font-size: 13px;
  }
}

@media only screen and (max-width: 1349px) {
  .pending-application-details-container {
    min-width: 700px;
  }
  .name-header {
    min-width: 700px;
  }

  .report-form-details-container {
    div {
      width: 100%;
      max-width: 100%;
      p {
        width: 100%;
        max-width: 300px;
      }
      .q-input {
        width: 100%;
        max-width: 400px;
      }
      .location {
        width: 100%;
        max-width: 600px;
      }
      .autogrow {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
@media only screen and (max-width: 1191px) {
  .pending-application-details-container {
    max-width: 700px;
    min-width: auto;
  }
  .name-header {
    min-width: auto;
    max-width: 700px;
  }
  .q-select {
    max-width: 350px;
  }
  .pending-application-container {
    max-width: 350px;
  }
  .report-image-container {
    max-width: 500px;
    img {
      max-height: 250px;
    }
  }
  .inkind-image-container {
    max-width: 500px;
    img {
      max-height: 250px;
    }
  }
  .volunteer-form-details-container {
    div {
      margin-top: 10px;
      width: 100%;
      max-width: 100%;
      .label {
        width: 300px;
        margin-right: 30px;
      }
      .autogrow {
        width: 100%;
        max-width: 80%;
      }

      .name-relation-container {
        width: 100%;
        div {
          width: 100%;
        }
        div:nth-child(1) {
          margin-right: 10px;
        }
      }
      .indicate {
        p {
          width: 100%;
          max-width: 100px;
        }
      }
      .if-answer {
        width: 200px;
        max-width: 200px;
      }
    }
  }
}

@media only screen and (max-width: 1077px) {
  .report-image-container {
    max-width: 400px;
  }
  .inkind-image-container {
    max-width: 400px;
  }
  .button-container {
    .decline {
      width: 130px;
    }
    .approved {
      width: 130px;
    }
    .next {
      width: 130px;
    }
  }
}
@media only screen and (max-width: 811px) {
  // .pending-application-details-container {
  //   display: none;
  // }
  .name-header {
    max-width: 700px;
    // display: none;
  }
  .q-select {
    max-width: 100%;
  }
  .pending-application-container {
    max-width: 100%;
  }
  .q-scroll-area {
    width: 100%;
    max-width: 100vw;
    height: 430px;
  }
  .form-details-container {
    div {
      div {
        margin-right: 20px;
        p {
          width: 200px;
        }
      }
      .q-input {
        width: 100%;
      }
      .autogrow {
        width: 100%;
      }
    }
  }
  .button-container {
    .decline {
      width: 120px;
    }
    .approved {
      width: 120px;
    }
    .next {
      width: 120px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .form-details-container {
    div {
      div {
        p {
          width: 150px;
        }
      }
    }
  }
  .report-image-container {
    max-width: 300px;
    img {
      max-height: 250px;
    }
  }
  .inkind-image-container {
    max-width: 300px;
    img {
      max-height: 250px;
    }
  }
}
@media only screen and (max-width: 501px) {
  .q-scroll-area-right {
    h5 {
      font-size: 20px;
    }
  }
  .name-header {
    h5 {
      font-size: 20px;
    }
    .q-icon {
      display: block;
      left: 30px;
    }
  }
  .form-details-container {
    font-size: 12px;
    div {
      .q-input {
        font-size: 12px;
      }
      .autogrow {
        font-size: 12px;
      }
    }
  }
  .pending-label {
    display: none;
  }
  .pending-application-container {
    height: 80vh;
    margin-right: 0px;
    h5 {
      font-size: 18px;
    }
  }
  .image {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    object-fit: cover;
  }
  .q-scroll-area {
    height: 70vh;
    font-size: 12px;
    border-radius: 10px;
    div {
      div:nth-child(1) {
        margin: 6px 0px;
      }
    }
  }
  .all-container {
    padding: 0px 10px;
  }
  .q-select {
    margin-right: 0px;
    font-size: 15px;
  }
  .icons-container {
    .q-icon {
      font-size: 1.3rem;
    }
  }
  .p-container {
    p:nth-child(1) {
      font-size: 13px;
    }
    p:nth-child(2) {
      color: rgba(28, 28, 28, 0.4);
    }
  }
  .pending-application-details-container {
    height: 80vh;
  }
  .q-scroll-area-right {
    height: 77vh;
  }
  .report-image-container {
    max-width: 270px;
    img {
      max-height: 250px;
    }
  }
  .inkind-image-container {
    max-width: 270px;
  }

  .report-form-details-container {
    div {
      p {
        font-size: 12px;
      }
      .q-input {
        font-size: 12px;
      }
      .location {
        font-size: 12px;
      }
      .autogrow {
        font-size: 12px;
      }
    }
  }
  .volunteer-form-details-container {
    div {
      .label {
        width: 100%;
        max-width: auto;
        margin-right: 30px;
      }
      .autogrow {
        width: 100%;
        max-width: 80%;
        height: auto;
        font-size: 12px;
      }
      p {
        font-size: 12px;
      }
      .q-radio {
        font-size: 12px;
      }
      .q-checkbox {
        font-size: 12px;
      }
      .q-input {
        font-size: 12px;
      }
    }
    .committee {
      font-size: 18px;
    }
    .list-container {
      margin-left: 0px;
      .q-radio {
        font-size: 14px;
      }
      ul {
        li {
          font-size: 12px;
        }
      }
    }
  }
  .button-container {
    .back-control {
      display: flex;
    }
  }
}

@media only screen and (max-width: 376px) {
  .q-scroll-area {
    height: 70vh;
  }
  .q-scroll-area-right {
    h5 {
      font-size: 15px;
    }
  }
  .name-header {
    h5 {
      font-size: 15px;
    }
  }
  .form-details-container {
    div {
      div {
        p {
          width: 100px;
        }
      }

      .q-radio {
        width: 60px;
      }
    }
  }
  .button-container {
    padding-right: 0px;
    padding-left: 0px;
    .q-btn {
      font-size: 12px;
      width: 100px;
    }
    .back {
      width: 65px;
      margin-right: 10px;
    }
    .decline {
      font-size: 12px;
      margin-right: 10px;
    }
    .approved {
      font-size: 12px;
    }
    .next {
      font-size: 12px;
    }
  }
  .delete-dialog {
    .q-card {
      .label {
        font-size: 18px;
      }
      .paragraph {
        font-size: 12px;
      }
      .q-card-action {
        .q-btn {
          font-size: 12px;
        }
      }
    }
  }
}
