.transfer-container {
  width: 80%;
  height: 78vh;
  .fc {
    width: 50%;
    .input-fields-container {
      height: 235px;
      .result {
      }
      .approved {
        border: 2px solid #b157ae;
      }
      .decline {
        border: 2px solid red;
      }
    }
  }
  .sc {
    width: 50%;
    background-image: url("../../../image/transfer-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .details {
    div {
      width: 100%;
    }
    .q-btn {
      width: 100%;
    }
  }
  .details-q-step {
    .q-btn {
      width: 100%;
    }
    .back {
      border: 1px solid #b157ae;
    }
  }
  .first-step-nav {
    .q-btn {
      margin: 0px 5px;
    }
  }
  .upload-container {
    .q-icon {
      border: 1px solid #b157ae;
      border-radius: 10px;
      width: 200px;
    }
  }
}
