.first-layer {
  .first-child {
    width: 1150px;
    flex-wrap: nowrap;
    .intro-layer {
      width: 50%;
      .heading-1 {
        font-size: 50px;
      }
      .paragraph-1 {
        font-size: 20px;
      }
      .q-btn {
        width: 150px;
      }
      .paragraph-3 {
        div {
          font-size: 14px;

          .q-icon {
            background: black;
            color: white;
            font-size: 24px;
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
    }

    .image-layer {
      width: 50%;
      img {
        // height: 100%;
        width: 100%;
        border-radius: 100%;
      }
    }
  }
}
.second-layer {
  height: 90vh;
  background-image: url('../../../image/second-layer-background.png');
  .mission-title {
    font-size: 38px;
    width: 35%;
    height: 35%;
  }
  .mission-text {
    font-size: 16px;
    width: 35%;
    height: 35%;
    margin-top: 100px;
  }
}
.third-layer {
  margin-top: 200px;
  .first-child {
    width: 1150px;
    .f-c-container {
      width: 50%;
      .heading-2 {
        font-size: 38px;
      }
      .paragraph-2 {
        //
        font-size: 16px;
      }
    }
  }
  .second-child {
    width: 1155px;
    flex-wrap: nowrap;
    div {
      width: 230px;
      img {
        // border: 2px solid black;
        border-radius: 5px;
        height: 280px;
        object-fit: cover;
        object-position: center;
      }
      h6 {
        font-size: 22px;
        font-weight: bold;
      }
      p {
        font-size: 16px;
        font-weight: lighter;
      }
    }
  }
}
.fourth-layer {
  padding: 200px 0px;
  .left-image {
    .blue-circle {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      background: lightblue;
      z-index: -1;
      top: -60px;
    }
    width: 50%;
    img {
      width: 500px;
      border-bottom-right-radius: 20%;
      // border-top-left-radius: 20%;
    }
    .square {
      height: 200px;
      width: 200px;
      border-radius: 10px;
      background: rgb(246, 175, 146);
      z-index: -1;
      right: -10px;
      bottom: -60px;
    }
  }
  .right-description {
    width: 50%;

    h2 {
      font-size: 38px;
      width: 360px;
    }
    p {
      font-size: 16px;
      font-weight: lighter;
      width: 360px;
    }
    .paragraph-3 {
      div {
        font-size: 14px;

        width: 120px;
        .q-icon {
          background: black;
          color: white;
          font-size: 24px;
          padding: 5px;
          border-radius: 5px;
        }
      }
    }
  }
}
.fifth-layer {
  background-image: url('../../../image/fifth-layer-image.png');
  height: 90vh;
  .first-child {
    width: 1150px;
    h2 {
      font-size: 38px;
    }
    p {
      font-size: 16px;
      width: 420px;
    }
  }
}
.sixth-layer {
  padding-top: 100px;
  padding-bottom: 100px;
  .first-child {
    width: 1150px;
    h2 {
      font-size: 38px;
      margin-bottom: 100px;
    }
    .feddback-container {
      width: 310px;
      border: 2px solid black;
      border-radius: 20px;
      .head {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #ffbf23;
        height: 35px;
        border-bottom: 2px solid black;
      }
      .content {
        height: 350px;
      }

      p {
        font-size: 16px;
      }
      .bottom-text {
        width: 150px;
        margin-right: -120px;
      }
    }
  }
}
.seventh-layer {
  background-image: url('../../../image/seventh-layer-imagepng.png');
  height: 110vh;
  background-position: bottom;
  background-size: cover;
  // background-repeat: no-repeat;
  .first-child {
    width: 1150px;
    .support-cause {
      width: 50%;
      h2 {
        font-size: 38px;

        width: 250px;
      }
      p {
        font-size: 16px;
        width: 400px;
      }
    }
    .channel {
      width: 50%;
      .best-value-container {
        .best-value {
          width: 200px;
          border: 1px solid black;
          margin-bottom: -10px;
          z-index: 2;
        }
        .price {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          // height: 300px;
          max-width: 400px;
        }
        .benefit {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 100%;
          max-width: 400px;
          background-color: white;
          p {
            margin: 5px 0px;
          }
        }
      }
    }
  }
}
.eaight-layer {
  min-height: 90vh;
  h2 {
    font-size: 38px;

    width: 700px;
  }
  img {
    // height: 400px;
    width: 65%;
    // background: pink;
    // margin-bottom: -35px;
    border-bottom: 5px solid black;
  }
}
@media only screen and (max-width: 1160px) {
  .first-layer {
    .first-child {
      width: 90%;
      .intro-layer {
        width: 50%;
        .heading-1 {
          font-size: 30px;
        }
        .paragraph-1 {
          font-size: 14px;
        }
        .q-btn {
          width: 150px;
        }
        .paragraph-3 {
          div {
            font-size: 12px;

            .q-icon {
              background: black;
              color: white;
              font-size: 24px;
              padding: 5px;
              border-radius: 5px;
            }
          }
        }
      }

      .image-layer {
        width: 50%;
        img {
          width: 100%;
          border-radius: 100%;
        }
      }
    }
  }
  .second-layer {
    height: 90vh;
    background-image: url('../../../image/second-layer-background.png');
    .mission-title {
      font-size: 38px;
      width: 45%;
      height: 35%;
    }
    .mission-text {
      font-size: 16px;
      width: 45%;
      height: 35%;
      margin-top: 100px;
    }
  }
  .third-layer {
    margin-top: 150px;
    width: 100%;
    .first-child {
      width: 90%;
      .f-c-container {
        width: 100%;
        .heading-2 {
          font-size: 30px;
        }
        .paragraph-2 {
          font-size: 16px;
        }
      }
    }
    .second-child {
      width: 90%;
      flex-wrap: wrap;
      .fd {
        margin-top: 30px;
      }
      div {
        width: 230px;
        img {
          border-radius: 5px;
          height: 200px;
          object-fit: cover;
          object-position: center;
        }
        h6 {
          font-size: 18px;
          font-weight: bold;
        }
        p {
          font-size: 14px;
          font-weight: lighter;
        }
      }
    }
  }
  .fourth-layer {
    padding: 200px 0px;
    .left-image {
      .blue-circle {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        background: lightblue;
        z-index: -1;
        top: -60px;
      }
      width: 50%;
      img {
        width: 300px;
        border-bottom-right-radius: 20%;
        // border-top-left-radius: 20%;
      }
      .square {
        height: 100px;
        width: 100px;
        border-radius: 10px;
        background: rgb(246, 175, 146);
        z-index: -1;
        right: -10px;
        bottom: -60px;
      }
    }
    .right-description {
      width: 50%;

      h2 {
        font-size: 30px;
        width: 360px;
        line-height: normal;
      }
      p {
        font-size: 16px;
        font-weight: lighter;
        width: 360px;
      }
      .paragraph-3 {
        div {
          p {
            font-size: 12px;
          }
          font-size: 12px;
          width: 120px;
          .q-icon {
            background: black;
            color: white;
            font-size: 24px;
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .sixth-layer {
    padding-top: 100px;
    padding-bottom: 100px;
    .first-child {
      width: 90%;
      h2 {
        font-size: 30px;
        margin-bottom: 100px;
      }
      .feddback-container {
        width: 300px;
        border: 2px solid black;
        border-radius: 20px;
        margin-right: 10px;
        .head {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          background-color: #ffbf23;
          height: 35px;
          border-bottom: 2px solid black;
        }
        .content {
          height: 250px;
        }

        p {
          font-size: 14px;
        }
        .bottom-text {
          width: 150px;
          margin-right: -120px;
        }
      }
    }
  }
  .seventh-layer {
    background-image: url('../../../image/seventh-layer-imagepng.png');
    height: 110vh;
    background-position: bottom;
    background-size: cover;
    .first-child {
      justify-content: space-between;
      width: 90%;
      .support-cause {
        width: 50%;
        h2 {
          font-size: 30px;
          width: 250px;
        }
        p {
          font-size: 16px;
          width: 400px;
        }
      }
      .channel {
        width: 40%;
        .best-value-container {
          .best-value {
            width: 200px;
            border: 1px solid black;
            margin-bottom: -10px;
            z-index: 2;
          }
          .price {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            max-width: 400px;
          }
          .benefit {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            width: 100%;
            max-width: 400px;
            background-color: white;
            p {
              margin: 5px 0px;
            }
          }
        }
      }
    }
  }
  .eaight-layer {
    min-height: 90vh;
    h2 {
      font-size: 30px;
      width: 700px;
    }
  }
}
@media only screen and (max-width: 415px) {
  .first-layer {
    .first-child {
      width: 90%;
      flex-wrap: wrap;
      .intro-layer {
        width: 100%;
        .heading-1 {
          font-size: 30px;
        }
        .paragraph-1 {
          font-size: 14px;
        }
        .q-btn {
          width: 150px;
        }
        .paragraph-3 {
          div {
            font-size: 12px;

            .q-icon {
              background: black;
              color: white;
              font-size: 24px;
              padding: 5px;
              border-radius: 5px;
            }
          }
        }
      }

      .image-layer {
        display: none;
        width: 50%;
        img {
          width: 100%;
          border-radius: 100%;
        }
      }
    }
  }
  .second-layer {
    height: 90vh;
    background-image: url('../../../image/second-layer-background.png');
    .mission-title {
      font-size: 38px;
      width: 45%;
      height: 35%;
    }
    .mission-text {
      font-size: 16px;
      width: 45%;
      height: 35%;
      margin-top: 100px;
    }
  }
  .third-layer {
    margin-top: 150px;
    width: 100%;
    .first-child {
      width: 90%;
      .f-c-container {
        width: 100%;
        .heading-2 {
          font-size: 30px;
        }
        .paragraph-2 {
          font-size: 16px;
        }
      }
    }
    .second-child {
      width: 90%;
      flex-wrap: wrap;
      .fd {
        margin-top: 30px;
      }
      div {
        width: 230px;
        img {
          border-radius: 5px;
          height: 200px;
          object-fit: cover;
          object-position: center;
        }
        h6 {
          font-size: 18px;
          font-weight: bold;
        }
        p {
          font-size: 14px;
          font-weight: lighter;
        }
      }
    }
  }
  .fourth-layer {
    padding: 200px 0px;
    .left-image {
      .blue-circle {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        background: lightblue;
        z-index: -1;
        top: -60px;
      }
      width: 50%;
      img {
        width: 300px;
        border-bottom-right-radius: 20%;
        // border-top-left-radius: 20%;
      }
      .square {
        height: 100px;
        width: 100px;
        border-radius: 10px;
        background: rgb(246, 175, 146);
        z-index: -1;
        right: -10px;
        bottom: -60px;
      }
    }
    .right-description {
      width: 50%;

      h2 {
        font-size: 30px;
        width: 360px;
        line-height: normal;
      }
      p {
        font-size: 16px;
        font-weight: lighter;
        width: 360px;
      }
      .paragraph-3 {
        div {
          p {
            font-size: 12px;
          }
          font-size: 12px;
          width: 120px;
          .q-icon {
            background: black;
            color: white;
            font-size: 24px;
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .sixth-layer {
    padding-top: 100px;
    padding-bottom: 100px;
    .first-child {
      width: 90%;
      h2 {
        font-size: 30px;
        margin-bottom: 100px;
      }
      .feddback-container {
        width: 300px;
        border: 2px solid black;
        border-radius: 20px;
        margin-right: 10px;
        .head {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          background-color: #ffbf23;
          height: 35px;
          border-bottom: 2px solid black;
        }
        .content {
          height: 250px;
        }

        p {
          font-size: 14px;
        }
        .bottom-text {
          width: 150px;
          margin-right: -120px;
        }
      }
    }
  }
  .seventh-layer {
    background-image: url('../../../image/seventh-layer-imagepng.png');
    height: 110vh;
    background-position: bottom;
    background-size: cover;
    .first-child {
      justify-content: space-between;
      width: 90%;
      .support-cause {
        width: 50%;
        h2 {
          font-size: 30px;
          width: 250px;
        }
        p {
          font-size: 16px;
          width: 400px;
        }
      }
      .channel {
        width: 40%;
        .best-value-container {
          .best-value {
            width: 200px;
            border: 1px solid black;
            margin-bottom: -10px;
            z-index: 2;
          }
          .price {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            max-width: 400px;
          }
          .benefit {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            width: 100%;
            max-width: 400px;
            background-color: white;
            p {
              margin: 5px 0px;
            }
          }
        }
      }
    }
  }
  .eaight-layer {
    min-height: 90vh;
    h2 {
      font-size: 30px;
      width: 700px;
    }
  }
}
