.Register_container {
  border-radius: 20px;
  max-width: 748px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.input {
  border-radius: 5px;
  border: 2px solid #b157ae;
  margin: 3px 0px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.phone_number {
  border-radius: 5px;
  border: 2px solid #b157ae;
  margin: 3px 0px;
  height: 40px;
  width: 100%;
}
.civil_status {
  border-radius: 5px;
  border: 2px solid #b157ae;
  margin: 3px 0px;
  width: 100%;
  height: 40px;
}
.age {
  border-radius: 5px;
  border: 2px solid #b157ae;
  margin: 3px;
  width: 100%;
  height: 40px;
}
.suffix {
  border-radius: 5px;
  border: 2px solid #b157ae;
  margin: 3px;
  width: 100%;
  height: 40px;
}
.input_address {
  border-radius: 10px;
  border: 1px solid #b157ae;
  margin: 3px;
  height: 40px;
  width: 45%;
}
.email {
  width: 350px;
}
.signup {
  border-radius: 10px;
  background: #b157ae;
  color: white;
  height: 30px;
  width: 150px;
}
.login {
  color: #b157ae;
}
.upload {
  border: 2px solid #b157ae;
  height: 50px;
  border-radius: 5px;
}
.signup-title {
  letter-spacing: 2px;
  font-size: 40px;
}
.last-name-container {
  width: 50%;
}
.first-name-container {
  width: 50%;
}
.middlename-container {
  width: 35%;
}
.suffix-container {
  width: 15%;
}
.sex-container {
  width: 20%;
}
.birthdate-container {
  width: 30%;
}
.occupation-container {
  width: 34%;
}
.civil-status-container {
  width: 32%;
}
.phone-number-container {
  width: 34%;
}

.addresses-container {
  width: 100%;
  max-width: 50%;
  .addresss {
    border-radius: 5px;
    border: 2px solid #b157ae;
    margin: 3px 0px;
    height: 40px;
  }
}
.email-password-container {
  width: 100%;
  max-width: 50%;
}
@media only screen and (max-width: 933px) {
  .signup-title {
    font-size: 35px;
  }
}

@media only screen and (max-width: 761px) {
  .middlename-container {
    width: 30%;
  }
  .suffix-container {
    width: 20%;
  }
}

@media only screen and (max-width: 630px) {
  .mssb-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 584px) {
  .middlename-container {
    width: 50%;
  }
  .suffix-container {
    width: 50%;
  }
  .sex-container {
    width: 32%;
  }
  .birthdate-container {
    width: 34%;
  }
  .occupation-container {
    width: 34%;
  }
}
@media only screen and (max-width: 579px) {
  // .birthdate-container {
  //   width: 180px;
  // }
}
@media only screen and (max-width: 569px) {
  .mssb-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 400px) {
  .signup-title {
    font-size: 25px;
    margin-top: 5px;
  }
  .Register_container {
    p {
      font-size: 12px;
    }
    .q-input {
      font-size: 12px;
      margin: 2px 0px 0px 0px;
    }
    .q-select {
      font-size: 12px;
    }
    h6 {
      font-size: 18px;
      margin-left: 6px;
    }
    padding: 0px 5px;
  }
  .last-name-container {
    padding: 0px 5px;
    p {
      margin-left: 2px;
    }
  }
  .first-name-container {
    padding: 0px 5px 0px 0px;
    p {
      margin-left: 2px;
    }
  }
  .middlename-container {
    padding: 5px 5px 0px 5px;
    width: 50%;
    p {
      margin-left: 2px;
    }
  }
  .suffix-container {
    padding: 4px 5px 0px 0px;
    width: 50%;
    p {
      margin-left: 2px;
    }
  }
  .sex-container {
    padding: 0px 0px 0px 5px;
    width: 40%;
    p {
      margin-left: 3px;
    }
  }
  .birthdate-container {
    width: 60%;
    padding: 1px 5px 0px 5px;
    p {
      margin-left: 2px;
    }
  }
  .occupation-container {
    width: 50%;
    padding: 0px 5px;
    p {
      margin-left: 2px;
    }
  }
  .civil-status-container {
    padding: 0px 5px 0px 0px;
    width: 50%;
    p {
      margin-left: 3px;
    }
  }
  .phone-number-container {
    padding: 0px 5px 0px 5px;
    width: 50%;
    p {
      margin-left: 3px;
    }
  }
  .profile-valid-id-container {
    margin: 10px 5px 0px 5px;
    .child:nth-child(1) {
      margin-bottom: 3px;
    }
    .child {
      margin-left: 0px;
    }
    .upload {
      margin-top: 2px;
      height: 40px;
    }
  }
  .addresses-container {
    max-width: 100%;
    p {
      margin-left: 3px;
      margin-top: 3px;
    }
    .addresss {
      height: 40px;
    }
  }
  .email-password-container {
    padding: 0px 5px;
    max-width: 100%;
    p {
      margin-left: 3px;
      margin-top: 3px;
    }
    .email {
      width: 100%;
    }
  }
  .email-password-parent {
    justify-content: center;
    align-items: center;
  }
  .email-label {
    margin-top: 10px;
  }

  .addresses-container {
    padding: 0px 5px;
  }
}
@media only screen and (max-width: 364px) {
  .Register_container {
    margin: 10px 0px;
    box-shadow: none;
    width: 100vw;
  }
}
