.all-container {
  background: rgba(240, 242, 245, 255);
}
.progress-container div {
  border-radius: 100%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid#B157AE;
  color: white;
  background: black;
}
.clickable-report {
  width: auto;
  border: 1px solid#B157AE;
  border-radius: 20px;
}
.containerss {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  max-width: 900px;
  border-radius: 10px;
  width: 100%;
  background: white;
}
.uploading-image {
  display: flex;
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 1px dashed gray;
  object-fit: cover;
  object-position: center;
}

.upload {
  // border: 1px solid gray;
  border-radius: 5px;
  background: lightgray;
  padding: 30px;
  .q-icon {
    font-size: 2rem;
  }
}
.divider {
  border-bottom: 1px solid gray;
  position: relative;
  top: 50px;
}
.image {
  height: 100px;
  width: 100px;
  z-index: 1;
}

.input-container {
  width: 100%;
  max-width: 650px;
  margin: 2px 0px 10px 0px;
  .input {
    width: 100%;
    border: 1px solid #b157ae;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    // font-size: 5px;
    height: auto;
  }
  .input-autgrow {
    width: 100%;
    border: 1px solid #b157ae;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    height: auto;
    min-height: 200px;
  }
}

.button {
  .cancel-button {
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    color: #b157ae;
    border-radius: 5px;
    border: 1px solid #b157ae;
  }
  .report-button {
    background: #b157ae;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 933px) {
  .report-title {
    font-size: 30px;
  }
  .image {
    height: 80px;
    width: 80px;
  }
  .upload {
    padding: 20px;
    .q-icon {
      font-size: 1.8rem;
    }
  }
}
@media only screen and (max-width: 701px) {
  .report-title {
    font-size: 25px;
  }
  .image {
    height: 70px;
    width: 70px;
  }
  .upload {
    padding: 15px;
    .q-icon {
      font-size: 1.8rem;
    }
    p {
      font-size: 18px;
    }
  }
  .uploading-image {
    height: 120px;
    width: 120px;
  }
}
@media only screen and (max-width: 553px) {
  .report-title {
    font-size: 20px;
    margin-top: 5px;
  }
  .image {
    height: 60px;
    width: 60px;
  }
  .upload {
    padding: 10px;
    .q-icon {
      font-size: 1.5rem;
    }
    p {
      font-size: 15px;
    }
  }
  .uploading-image {
    height: 100px;
    width: 100px;
  }
  .input {
    margin-top: 0px;
  }
  .containerss {
    padding: 3px 10px 10px 10px;
    min-height: 83vh;
    box-shadow: none;
    margin: 0px;
  }
  .input-container {
    p {
      font-size: 13px;
    }
    margin: 1px 0px 5px 0px;
    .input {
      height: 32px;
    }
    .input-autgrow {
      min-height: 140px;
    }
  }
  .button {
    .q-btn {
      font-size: 12px;
    }
  }

  .all-container {
    margin-top: 10px;
    background: white;
  }
}

@media only screen and (max-width: 501px) {
  .containerss {
    min-height: 85vh;
  }
}
@media only screen and (max-width: 376px) {
  .all-container {
    padding-top: 0px;
  }
  .containerss {
    min-height: 86vh;
  }
}
@media only screen and (max-width: 315px) {
  .button {
    .q-btn {
      margin: 5px 0px;
    }
  }
}
