.container {
  position: relative;
  overflow: hidden;
  .background-image {
    height: 300px;
    z-index: -1;
    background: url('../../../image/fifth-layer-image.png');
    transform: rotate(180deg);
  }
  .first-child-terms {
    padding-bottom: 300px;
    width: 1150px;
    div {
      width: 650px;
    }
    .title {
      font-size: 50px;
      font-family: 'Space Grotesk', sans-serif;
      margin-top: 100px;
      margin-bottom: 100px;
    }
    .questions {
      font-family: 'Space Grotesk', sans-serif;
      font-size: 22px;
      margin-top: 100px;
      margin-bottom: 50px;
    }
    ul {
      margin: 0px;
      li {
        margin: 0px;
        font-family: 'Proxima Nova', sans-serif;
        font-size: 16px;
      }
    }
    p {
      font-family: 'Proxima Nova', sans-serif;
      font-size: 16px;
    }
  }
  .first-child-privacy {
    padding-bottom: 300px;
    width: 1150px;
    div {
      width: 650px;
    }
    .title {
      font-size: 50px;
      font-family: 'Space Grotesk', sans-serif;
      margin-top: 100px;
      margin-bottom: 100px;
    }
    .questions {
      font-family: 'Space Grotesk', sans-serif;
      font-size: 22px;
      margin-top: 100px;
      margin-bottom: 50px;
    }
    p {
      font-family: 'Proxima Nova', sans-serif;
      font-size: 16px;
    }
  }
  .first-child {
    width: 1150px;
    .title {
      font-size: 50px;
      font-family: 'Space Grotesk', sans-serif;
      margin-top: 100px;
      margin-bottom: 100px;
    }
    .tab-container {
      border-bottom: 1px solid black;
      min-width: auto;
    }
    .tab-details {
      padding-bottom: 300px;
      .four-div-container {
        border-radius: 10px;
        color: white;
        .questions {
          font-family: 'Space Grotesk', sans-serif;
          font-size: 22px;
        }
        p,
        .q-btn,
        ul li {
          font-family: 'Proxima Nova', sans-serif;
          font-size: 15px;
        }
        ul li {
          margin: 5px 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: 432px) {
  .container {
    .first-child {
      width: 90%;
      .title {
        font-size: 30px;
        margin-top: 50px;
      }
      .tab-container {
        .text-body1 {
          padding: 0px 1px;
        }
      }
    }
  }
}
