.first-container {
  width: 750px;
  background: #b157ae;
  box-shadow: 6px 10px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  .date-year {
    h3 {
      font-size: 30px;
      font-weight: bold;
    }
  }
  .total-rescue-container,
  .total-adoption-container,
  .total-donation-container {
    .total-label-container {
      h3 {
        font-size: 30px;
      }
      p {
        font-weight: bold;
      }
    }
    .image-container {
      .image {
        height: 90px;
        width: 90px;
      }
    }
  }
  .small-div {
    background: #d66dd2;
    box-shadow: 6px 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 90%;
    p {
      font-size: 14px;
    }
  }
}
.footer {
  margin-top: 100px;
}
.bar-container {
  background: #ffffff;
  border: 2px solid #b157ae;
  border-radius: 10px;
  box-shadow: 6px 10px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 900px;
  width: 100%;
}

@media only screen and (max-width: 933px) {
  .first-container {
    .date-year {
      h3 {
        font-size: 25px;
      }
      .year {
        margin-top: 0px;
      }
    }
    .total-rescue-container,
    .total-adoption-container,
    .total-donation-container {
      .total-label-container {
        h3 {
          font-size: 25px;

          margin-bottom: 12px;
        }
        p {
          margin-top: 0;
        }
      }
      .image-container {
        .image {
          height: 80px;
          width: 80px;
        }
      }
    }
    .small-div {
      p {
        margin: 5px;
        font-size: 13px;
      }
    }
  }

  .year-rescue-bottom,
  .year-adopt-bottom,
  .year-donate-bottom {
    font-size: 25px;
    font-weight: bold;
  }
  .bar-container {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .first-container {
    margin: 20px;
    .date-year {
      h3 {
        font-size: 22px;
        height: 37px;
      }
    }
    .total-rescue-container,
    .total-adoption-container,
    .total-donation-container {
      .total-label-container {
        margin-right: 5px;
        h3 {
          font-size: 20px;
          margin-bottom: 0;
        }
        p {
          font-size: 13px;
        }
      }
      .image-container {
        .image {
          height: 60px;
          width: 60px;
        }
      }
    }
  }

  .bar-container {
    margin: 5px 20px 20px 20px;
  }

  .year-rescue-bottom,
  .year-adopt-bottom,
  .year-donate-bottom {
    font-size: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .first-container {
    margin: 20px;
    .date-year {
      h3 {
        margin-top: 0;
        font-size: 20px;
        height: 33px;
        font-weight: bold;
      }
    }
    .total-rescue-container,
    .total-adoption-container,
    .total-donation-container {
      .total-label-container {
        margin-left: -80px;
        h3 {
          font-weight: bold;
        }
        p {
          margin-top: -10px;
        }
      }
      .image-container {
        .image {
          height: 50px;
          width: 50px;
        }
      }
    }
    .small-div {
      p {
        margin: 5px;
        font-size: 12px;
      }
    }
  }
  .bar-container {
    padding: 20px 5px 10px 5px;
  }
}
@media only screen and (max-width: 405px) {
  .first-container {
    .date-year {
      h3 {
        margin-left: 25px;
      }
    }
    .total-rescue-container,
    .total-adoption-container,
    .total-donation-container {
      .total-label-container {
        h3 {
          font-size: 19px;
        }
        p {
          font-size: 13px;
          margin-top: -10px;
        }
      }
      .image-container {
        .image {
          margin-right: -20px;
        }
      }
    }
    .small-div {
      p {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 377px) {
  .first-container {
    .date-year {
      h3 {
        margin-left: 20px;
      }
    }
    .total-rescue-container,
    .total-adoption-container,
    .total-donation-container {
      .total-label-container {
        margin-left: -140px;
      }
      .image-container {
        margin-right: 20px;
      }
    }
  }

  .bar-container {
    padding: 0px;
    border: none;
    box-shadow: none;
  }
}
