@use 'sass:map';
body {
  background-color: #f5f6fa;
  font-family: 'Nunito Sans', sans-serif;
}
.fig-tree {
  font-family: 'Figtree', sans-serif;
}
.outfit {
  font-family: 'Outfit', sans-serif;
}
.font-12 {
  font-size: 12px;
}
.radius-10 {
  border-radius: 10px;
}
.radius-2 {
  border-radius: 2px;
}
.radius-10-t-lr {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.radius-10-t-r {
  border-top-right-radius: 10px;
}
.radius-10-t-l {
  border-top-left-radius: 10px;
}
.bg-default {
  background-color: #f5f6fa;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}
.w-60 {
  width: 60%;
}
.w-100 {
  width: 100%;
}
.vw-100 {
  width: 100vw;
}
.rad-100 {
  border-radius: 100%;
}
.h-100 {
  height: 100vh;
  max-height: 88vh;
}
.light-border {
  border: 2px solid $separator-color;
}
.btn {
  width: 200px;
}
